.cart-drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
}

.cart-drawer.open {
    transform: translateX(0%);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

.cart-content {
    padding: 16px;
}

.close-button {
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: #333;
    background: none;
}

.cart-item {
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 12px;
}

.fa-trash {
    cursor: pointer;
    font-size: 15px;
    padding: 0 ;

}

.btnCheckout {
  background-color: #403371;
  color: #fff !important;
  border: none;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.btnCheckout:hover {
  background-color: #482375;
}